Houses in London

In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv(r"C:\Users\matim\Documents\Python\london_houses.csv")
df

,Address,Neighborhood,Bedrooms,Bathrooms,Square Meters,Building Age,Garden,Garage,Floors,Property Type,Heating Type,Balcony,Interior Style,View,Materials,Building Status,Price (£)
0,78 Regent Street,Notting Hill,2,3,179,72,No,No,3,Semi-Detached,Electric Heating,High-level Balcony,Industrial,Garden,Marble,Renovated,2291200
1,198 Oxford Street,Westminster,2,1,123,34,Yes,No,1,Apartment,Central Heating,High-level Balcony,Industrial,City,Laminate Flooring,Old,1476000
2,18 Regent Street,Soho,5,3,168,38,No,Yes,3,Semi-Detached,Central Heating,No Balcony,Industrial,Street,Wood,Renovated,1881600
3,39 Piccadilly Circus,Islington,5,1,237,53,Yes,Yes,1,Apartment,Underfloor Heating,No Balcony,Classic,Park,Granite,Renovated,1896000
4,116 Fleet Street,Marylebone,4,1,127,23,No,Yes,2,Semi-Detached,Central Heating,No Balcony,Modern,Park,Wood,Old,1524000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,44 Camden High Street,Westminster,1,3,81,4,Yes,Yes,2,Semi-Detached,Central Heating,Low-level Balcony,Modern,Street,Laminate Flooring,Renovated,1166400
996,165 Park Lane,Camden,1,1,65,51,No,No,1,Apartment,Underfloor Heating,No Balcony,Industrial,Garden,Wood,Old,563333
997,99 Camden High Street,Camden,4,1,191,27,No,Yes,2,Semi-Detached,Central Heating,Low-level Balcony,Minimalist,Park,Laminate Flooring,Old,1986399
998,155 Park Lane,Camden,5,2,131,3,Yes,No,2,Detached House,Underfloor Heating,High-level Balcony,Modern,Park,Laminate Flooring,Renovated,1703000
999,145 Baker Street,Kensington,4,2,185,53,No,No,1,Apartment,Electric Heating,No Balcony,Modern,Street,Wood,Old,2343333

In [6]:
df.columns

Index(['Address', 'Neighborhood', 'Bedrooms', 'Bathrooms', 'Square Meters',
       'Building Age', 'Garden', 'Garage', 'Floors', 'Property Type',
       'Heating Type', 'Balcony', 'Interior Style', 'View', 'Materials',
       'Building Status', 'Price (£)'],
      dtype='object')

In [7]:
df.describe()

,Bedrooms,Bathrooms,Square Meters,Building Age,Floors,Price (£)
count,1000.000000,1000.000000,1000.0000,1000.00000,1000.000000,1.000000e+03
mean,3.013000,2.003000,149.6270,49.96500,1.991000,1.840807e+06
std,1.393834,0.808483,58.0562,29.07086,0.821946,8.793484e+05
min,1.000000,1.000000,50.0000,1.00000,1.000000,3.866660e+05
25%,2.000000,1.000000,99.0000,24.00000,1.000000,1.161400e+06
50%,3.000000,2.000000,148.0000,50.00000,2.000000,1.721999e+06
75%,4.000000,3.000000,201.0000,76.00000,3.000000,2.390500e+06
max,5.000000,3.000000,249.0000,99.00000,3.000000,4.980000e+06

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Address          1000 non-null   object
 1   Neighborhood     1000 non-null   object
 2   Bedrooms         1000 non-null   int64
 3   Bathrooms        1000 non-null   int64
 4   Square Meters    1000 non-null   int64
 5   Building Age     1000 non-null   int64
 6   Garden           1000 non-null   object
 7   Garage           1000 non-null   object
 8   Floors           1000 non-null   int64
 9   Property Type    1000 non-null   object
 10  Heating Type     1000 non-null   object
 11  Balcony          1000 non-null   object
 12  Interior Style   1000 non-null   object
 13  View             1000 non-null   object
 14  Materials        1000 non-null   object
 15  Building Status  1000 non-null   object
 16  Price (£)        1000 non-null   int64
dtypes: int64(6), object(11)
memory usage: 132.9+ KB

Questions and answers for begginer level

In [ ]:
# Calculate Price per Square Meter Add a column price_per_sq_meter to calculate the price of the house per square meter.
# Use the formula: Price per Square Meter= Price / Square Meters.

In [9]:
df["price_per_sq_meter"] = df.apply(lambda x: x["Price (£)"] / x["Square Meters"], axis = 1)
df

,Address,Neighborhood,Bedrooms,Bathrooms,Square Meters,Building Age,Garden,Garage,Floors,Property Type,Heating Type,Balcony,Interior Style,View,Materials,Building Status,Price (£),price_per_sq_meter
0,78 Regent Street,Notting Hill,2,3,179,72,No,No,3,Semi-Detached,Electric Heating,High-level Balcony,Industrial,Garden,Marble,Renovated,2291200,12800.000000
1,198 Oxford Street,Westminster,2,1,123,34,Yes,No,1,Apartment,Central Heating,High-level Balcony,Industrial,City,Laminate Flooring,Old,1476000,12000.000000
2,18 Regent Street,Soho,5,3,168,38,No,Yes,3,Semi-Detached,Central Heating,No Balcony,Industrial,Street,Wood,Renovated,1881600,11200.000000
3,39 Piccadilly Circus,Islington,5,1,237,53,Yes,Yes,1,Apartment,Underfloor Heating,No Balcony,Classic,Park,Granite,Renovated,1896000,8000.000000
4,116 Fleet Street,Marylebone,4,1,127,23,No,Yes,2,Semi-Detached,Central Heating,No Balcony,Modern,Park,Wood,Old,1524000,12000.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,44 Camden High Street,Westminster,1,3,81,4,Yes,Yes,2,Semi-Detached,Central Heating,Low-level Balcony,Modern,Street,Laminate Flooring,Renovated,1166400,14400.000000
996,165 Park Lane,Camden,1,1,65,51,No,No,1,Apartment,Underfloor Heating,No Balcony,Industrial,Garden,Wood,Old,563333,8666.661538
997,99 Camden High Street,Camden,4,1,191,27,No,Yes,2,Semi-Detached,Central Heating,Low-level Balcony,Minimalist,Park,Laminate Flooring,Old,1986399,10399.994764
998,155 Park Lane,Camden,5,2,131,3,Yes,No,2,Detached House,Underfloor Heating,High-level Balcony,Modern,Park,Laminate Flooring,Renovated,1703000,13000.000000
999,145 Baker Street,Kensington,4,2,185,53,No,No,1,Apartment,Electric Heating,No Balcony,Modern,Street,Wood,Old,2343333,12666.664865

In [ ]:
# Flag Old and New Buildings Create a column building_age_category: o "New" if Building Age <= 10. o "Old" if 
# Building Age > 10.

In [11]:
df["building_age_category"] = df["Building Age"].apply(lambda x: 'New' if x <= 10 else 'Old')
df

,Address,Neighborhood,Bedrooms,Bathrooms,Square Meters,Building Age,Garden,Garage,Floors,Property Type,Heating Type,Balcony,Interior Style,View,Materials,Building Status,Price (£),price_per_sq_meter,building_age_category
0,78 Regent Street,Notting Hill,2,3,179,72,No,No,3,Semi-Detached,Electric Heating,High-level Balcony,Industrial,Garden,Marble,Renovated,2291200,12800.000000,Old
1,198 Oxford Street,Westminster,2,1,123,34,Yes,No,1,Apartment,Central Heating,High-level Balcony,Industrial,City,Laminate Flooring,Old,1476000,12000.000000,Old
2,18 Regent Street,Soho,5,3,168,38,No,Yes,3,Semi-Detached,Central Heating,No Balcony,Industrial,Street,Wood,Renovated,1881600,11200.000000,Old
3,39 Piccadilly Circus,Islington,5,1,237,53,Yes,Yes,1,Apartment,Underfloor Heating,No Balcony,Classic,Park,Granite,Renovated,1896000,8000.000000,Old
4,116 Fleet Street,Marylebone,4,1,127,23,No,Yes,2,Semi-Detached,Central Heating,No Balcony,Modern,Park,Wood,Old,1524000,12000.000000,Old
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,44 Camden High Street,Westminster,1,3,81,4,Yes,Yes,2,Semi-Detached,Central Heating,Low-level Balcony,Modern,Street,Laminate Flooring,Renovated,1166400,14400.000000,New
996,165 Park Lane,Camden,1,1,65,51,No,No,1,Apartment,Underfloor Heating,No Balcony,Industrial,Garden,Wood,Old,563333,8666.661538,Old
997,99 Camden High Street,Camden,4,1,191,27,No,Yes,2,Semi-Detached,Central Heating,Low-level Balcony,Minimalist,Park,Laminate Flooring,Old,1986399,10399.994764,Old
998,155 Park Lane,Camden,5,2,131,3,Yes,No,2,Detached House,Underfloor Heating,High-level Balcony,Modern,Park,Laminate Flooring,Renovated,1703000,13000.000000,New
999,145 Baker Street,Kensington,4,2,185,53,No,No,1,Apartment,Electric Heating,No Balcony,Modern,Street,Wood,Old,2343333,12666.664865,Old

In [ ]:
# Categorise by Garden Availability Add a column garden_flag: o True if Garden is "Yes". o False otherwise.

In [12]:
df["garden_flag"] = df["Garden"].apply(lambda x: 'True' if x == 'Yes' else 'False' )
df

,Address,Neighborhood,Bedrooms,Bathrooms,Square Meters,Building Age,Garden,Garage,Floors,Property Type,Heating Type,Balcony,Interior Style,View,Materials,Building Status,Price (£),price_per_sq_meter,building_age_category,garden_flag
0,78 Regent Street,Notting Hill,2,3,179,72,No,No,3,Semi-Detached,Electric Heating,High-level Balcony,Industrial,Garden,Marble,Renovated,2291200,12800.000000,Old,False
1,198 Oxford Street,Westminster,2,1,123,34,Yes,No,1,Apartment,Central Heating,High-level Balcony,Industrial,City,Laminate Flooring,Old,1476000,12000.000000,Old,True
2,18 Regent Street,Soho,5,3,168,38,No,Yes,3,Semi-Detached,Central Heating,No Balcony,Industrial,Street,Wood,Renovated,1881600,11200.000000,Old,False
3,39 Piccadilly Circus,Islington,5,1,237,53,Yes,Yes,1,Apartment,Underfloor Heating,No Balcony,Classic,Park,Granite,Renovated,1896000,8000.000000,Old,True
4,116 Fleet Street,Marylebone,4,1,127,23,No,Yes,2,Semi-Detached,Central Heating,No Balcony,Modern,Park,Wood,Old,1524000,12000.000000,Old,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,44 Camden High Street,Westminster,1,3,81,4,Yes,Yes,2,Semi-Detached,Central Heating,Low-level Balcony,Modern,Street,Laminate Flooring,Renovated,1166400,14400.000000,New,True
996,165 Park Lane,Camden,1,1,65,51,No,No,1,Apartment,Underfloor Heating,No Balcony,Industrial,Garden,Wood,Old,563333,8666.661538,Old,False
997,99 Camden High Street,Camden,4,1,191,27,No,Yes,2,Semi-Detached,Central Heating,Low-level Balcony,Minimalist,Park,Laminate Flooring,Old,1986399,10399.994764,Old,False
998,155 Park Lane,Camden,5,2,131,3,Yes,No,2,Detached House,Underfloor Heating,High-level Balcony,Modern,Park,Laminate Flooring,Renovated,1703000,13000.000000,New,True
999,145 Baker Street,Kensington,4,2,185,53,No,No,1,Apartment,Electric Heating,No Balcony,Modern,Street,Wood,Old,2343333,12666.664865,Old,False

In [ ]:
# Floor Count Category Create a column floor_category: o "Single Floor" if Floors = 1. o "Multi-Floor" if Floors > 1.

In [14]:
df["floor_category"] = df["Floors"].apply(lambda x: 'Single Floor' if x == 1 else 'Multi-floor')
df

,Address,Neighborhood,Bedrooms,Bathrooms,Square Meters,Building Age,Garden,Garage,Floors,Property Type,...,Balcony,Interior Style,View,Materials,Building Status,Price (£),price_per_sq_meter,building_age_category,garden_flag,floor_category
0,78 Regent Street,Notting Hill,2,3,179,72,No,No,3,Semi-Detached,...,High-level Balcony,Industrial,Garden,Marble,Renovated,2291200,12800.000000,Old,False,Multi-floor
1,198 Oxford Street,Westminster,2,1,123,34,Yes,No,1,Apartment,...,High-level Balcony,Industrial,City,Laminate Flooring,Old,1476000,12000.000000,Old,True,Single Floor
2,18 Regent Street,Soho,5,3,168,38,No,Yes,3,Semi-Detached,...,No Balcony,Industrial,Street,Wood,Renovated,1881600,11200.000000,Old,False,Multi-floor
3,39 Piccadilly Circus,Islington,5,1,237,53,Yes,Yes,1,Apartment,...,No Balcony,Classic,Park,Granite,Renovated,1896000,8000.000000,Old,True,Single Floor
4,116 Fleet Street,Marylebone,4,1,127,23,No,Yes,2,Semi-Detached,...,No Balcony,Modern,Park,Wood,Old,1524000,12000.000000,Old,False,Multi-floor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,44 Camden High Street,Westminster,1,3,81,4,Yes,Yes,2,Semi-Detached,...,Low-level Balcony,Modern,Street,Laminate Flooring,Renovated,1166400,14400.000000,New,True,Multi-floor
996,165 Park Lane,Camden,1,1,65,51,No,No,1,Apartment,...,No Balcony,Industrial,Garden,Wood,Old,563333,8666.661538,Old,False,Single Floor
997,99 Camden High Street,Camden,4,1,191,27,No,Yes,2,Semi-Detached,...,Low-level Balcony,Minimalist,Park,Laminate Flooring,Old,1986399,10399.994764,Old,False,Multi-floor
998,155 Park Lane,Camden,5,2,131,3,Yes,No,2,Detached House,...,High-level Balcony,Modern,Park,Laminate Flooring,Renovated,1703000,13000.000000,New,True,Multi-floor
999,145 Baker Street,Kensington,4,2,185,53,No,No,1,Apartment,...,No Balcony,Modern,Street,Wood,Old,2343333,12666.664865,Old,False,Single Floor

In [ ]:
# Intermediate
# Luxury vs Affordable Neighborhoods Create a column neighborhood_category: o "Luxury" if the average Price (£) in 
# the Neighborhood is greater than 2,000,000. o "Affordable" otherwise.

In [17]:
df["Neighborhood"].value_counts()

Neighborhood
Kensington      114
Marylebone      113
Camden          106
Westminster      98
Greenwich        97
Islington        97
Notting Hill     96
Soho             96
Chelsea          94
Shoreditch       89
Name: count, dtype: int64

In [19]:
avg_price_per_neighborhood = df.groupby("Neighborhood")["Price (£)"].mean()
avg_price_per_neighborhood

Neighborhood
Camden          1.626332e+06
Chelsea         2.452894e+06
Greenwich       1.269409e+06
Islington       1.507373e+06
Kensington      2.282233e+06
Marylebone      1.824982e+06
Notting Hill    1.957589e+06
Shoreditch      1.332829e+06
Soho            1.781121e+06
Westminster     2.291437e+06
Name: Price (£), dtype: float64

In [21]:
df["average_price"] = df["Neighborhood"].map(avg_price_per_neighborhood)
df

,Address,Neighborhood,Bedrooms,Bathrooms,Square Meters,Building Age,Garden,Garage,Floors,Property Type,...,Interior Style,View,Materials,Building Status,Price (£),price_per_sq_meter,building_age_category,garden_flag,floor_category,average_price
0,78 Regent Street,Notting Hill,2,3,179,72,No,No,3,Semi-Detached,...,Industrial,Garden,Marble,Renovated,2291200,12800.000000,Old,False,Multi-floor,1.957589e+06
1,198 Oxford Street,Westminster,2,1,123,34,Yes,No,1,Apartment,...,Industrial,City,Laminate Flooring,Old,1476000,12000.000000,Old,True,Single Floor,2.291437e+06
2,18 Regent Street,Soho,5,3,168,38,No,Yes,3,Semi-Detached,...,Industrial,Street,Wood,Renovated,1881600,11200.000000,Old,False,Multi-floor,1.781121e+06
3,39 Piccadilly Circus,Islington,5,1,237,53,Yes,Yes,1,Apartment,...,Classic,Park,Granite,Renovated,1896000,8000.000000,Old,True,Single Floor,1.507373e+06
4,116 Fleet Street,Marylebone,4,1,127,23,No,Yes,2,Semi-Detached,...,Modern,Park,Wood,Old,1524000,12000.000000,Old,False,Multi-floor,1.824982e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,44 Camden High Street,Westminster,1,3,81,4,Yes,Yes,2,Semi-Detached,...,Modern,Street,Laminate Flooring,Renovated,1166400,14400.000000,New,True,Multi-floor,2.291437e+06
996,165 Park Lane,Camden,1,1,65,51,No,No,1,Apartment,...,Industrial,Garden,Wood,Old,563333,8666.661538,Old,False,Single Floor,1.626332e+06
997,99 Camden High Street,Camden,4,1,191,27,No,Yes,2,Semi-Detached,...,Minimalist,Park,Laminate Flooring,Old,1986399,10399.994764,Old,False,Multi-floor,1.626332e+06
998,155 Park Lane,Camden,5,2,131,3,Yes,No,2,Detached House,...,Modern,Park,Laminate Flooring,Renovated,1703000,13000.000000,New,True,Multi-floor,1.626332e+06
999,145 Baker Street,Kensington,4,2,185,53,No,No,1,Apartment,...,Modern,Street,Wood,Old,2343333,12666.664865,Old,False,Single Floor,2.282233e+06

In [22]:
df["neighborhood_category"] = df["average_price"].apply(lambda x: 'Luxury' if x > 2000000 else 'Affordable')
df

,Address,Neighborhood,Bedrooms,Bathrooms,Square Meters,Building Age,Garden,Garage,Floors,Property Type,...,View,Materials,Building Status,Price (£),price_per_sq_meter,building_age_category,garden_flag,floor_category,average_price,neighborhood_category
0,78 Regent Street,Notting Hill,2,3,179,72,No,No,3,Semi-Detached,...,Garden,Marble,Renovated,2291200,12800.000000,Old,False,Multi-floor,1.957589e+06,Affordable
1,198 Oxford Street,Westminster,2,1,123,34,Yes,No,1,Apartment,...,City,Laminate Flooring,Old,1476000,12000.000000,Old,True,Single Floor,2.291437e+06,Luxury
2,18 Regent Street,Soho,5,3,168,38,No,Yes,3,Semi-Detached,...,Street,Wood,Renovated,1881600,11200.000000,Old,False,Multi-floor,1.781121e+06,Affordable
3,39 Piccadilly Circus,Islington,5,1,237,53,Yes,Yes,1,Apartment,...,Park,Granite,Renovated,1896000,8000.000000,Old,True,Single Floor,1.507373e+06,Affordable
4,116 Fleet Street,Marylebone,4,1,127,23,No,Yes,2,Semi-Detached,...,Park,Wood,Old,1524000,12000.000000,Old,False,Multi-floor,1.824982e+06,Affordable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,44 Camden High Street,Westminster,1,3,81,4,Yes,Yes,2,Semi-Detached,...,Street,Laminate Flooring,Renovated,1166400,14400.000000,New,True,Multi-floor,2.291437e+06,Luxury
996,165 Park Lane,Camden,1,1,65,51,No,No,1,Apartment,...,Garden,Wood,Old,563333,8666.661538,Old,False,Single Floor,1.626332e+06,Affordable
997,99 Camden High Street,Camden,4,1,191,27,No,Yes,2,Semi-Detached,...,Park,Laminate Flooring,Old,1986399,10399.994764,Old,False,Multi-floor,1.626332e+06,Affordable
998,155 Park Lane,Camden,5,2,131,3,Yes,No,2,Detached House,...,Park,Laminate Flooring,Renovated,1703000,13000.000000,New,True,Multi-floor,1.626332e+06,Affordable
999,145 Baker Street,Kensington,4,2,185,53,No,No,1,Apartment,...,Street,Wood,Old,2343333,12666.664865,Old,False,Single Floor,2.282233e+06,Luxury

In [ ]:
# Calculate Balcony Accessibility Add a column balcony_accessibility_score:
# o Score = 10 for "High-level Balcony". o Score = 5 for "Low-level Balcony". o Score = 0 for "No Balcony".

In [23]:
df["Balcony"].value_counts()

Balcony
No Balcony            340
High-level Balcony    331
Low-level Balcony     329
Name: count, dtype: int64

In [28]:
df["balcony_accessibility_score"] = df["Balcony"].apply(lambda x: 10 if x == 'High-level Balcony' else 5 if x == 'low-level Balcony' else 0 )
df

,Address,Neighborhood,Bedrooms,Bathrooms,Square Meters,Building Age,Garden,Garage,Floors,Property Type,...,Materials,Building Status,Price (£),price_per_sq_meter,building_age_category,garden_flag,floor_category,average_price,neighborhood_category,balcony_accessibility_score
0,78 Regent Street,Notting Hill,2,3,179,72,No,No,3,Semi-Detached,...,Marble,Renovated,2291200,12800.000000,Old,False,Multi-floor,1.957589e+06,Affordable,10
1,198 Oxford Street,Westminster,2,1,123,34,Yes,No,1,Apartment,...,Laminate Flooring,Old,1476000,12000.000000,Old,True,Single Floor,2.291437e+06,Luxury,10
2,18 Regent Street,Soho,5,3,168,38,No,Yes,3,Semi-Detached,...,Wood,Renovated,1881600,11200.000000,Old,False,Multi-floor,1.781121e+06,Affordable,0
3,39 Piccadilly Circus,Islington,5,1,237,53,Yes,Yes,1,Apartment,...,Granite,Renovated,1896000,8000.000000,Old,True,Single Floor,1.507373e+06,Affordable,0
4,116 Fleet Street,Marylebone,4,1,127,23,No,Yes,2,Semi-Detached,...,Wood,Old,1524000,12000.000000,Old,False,Multi-floor,1.824982e+06,Affordable,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,44 Camden High Street,Westminster,1,3,81,4,Yes,Yes,2,Semi-Detached,...,Laminate Flooring,Renovated,1166400,14400.000000,New,True,Multi-floor,2.291437e+06,Luxury,0
996,165 Park Lane,Camden,1,1,65,51,No,No,1,Apartment,...,Wood,Old,563333,8666.661538,Old,False,Single Floor,1.626332e+06,Affordable,0
997,99 Camden High Street,Camden,4,1,191,27,No,Yes,2,Semi-Detached,...,Laminate Flooring,Old,1986399,10399.994764,Old,False,Multi-floor,1.626332e+06,Affordable,0
998,155 Park Lane,Camden,5,2,131,3,Yes,No,2,Detached House,...,Laminate Flooring,Renovated,1703000,13000.000000,New,True,Multi-floor,1.626332e+06,Affordable,10
999,145 Baker Street,Kensington,4,2,185,53,No,No,1,Apartment,...,Wood,Old,2343333,12666.664865,Old,False,Single Floor,2.282233e+06,Luxury,0

In [26]:
df['balcony_accessibility_score'] = df['Balcony'].apply(lambda x : 10 if x == 'High-level Balcony' else 5 if x == 'Low-level Balcony' else 0)
df

,Address,Neighborhood,Bedrooms,Bathrooms,Square Meters,Building Age,Garden,Garage,Floors,Property Type,...,Materials,Building Status,Price (£),price_per_sq_meter,building_age_category,garden_flag,floor_category,average_price,neighborhood_category,balcony_accessibility_score
0,78 Regent Street,Notting Hill,2,3,179,72,No,No,3,Semi-Detached,...,Marble,Renovated,2291200,12800.000000,Old,False,Multi-floor,1.957589e+06,Affordable,10
1,198 Oxford Street,Westminster,2,1,123,34,Yes,No,1,Apartment,...,Laminate Flooring,Old,1476000,12000.000000,Old,True,Single Floor,2.291437e+06,Luxury,10
2,18 Regent Street,Soho,5,3,168,38,No,Yes,3,Semi-Detached,...,Wood,Renovated,1881600,11200.000000,Old,False,Multi-floor,1.781121e+06,Affordable,0
3,39 Piccadilly Circus,Islington,5,1,237,53,Yes,Yes,1,Apartment,...,Granite,Renovated,1896000,8000.000000,Old,True,Single Floor,1.507373e+06,Affordable,0
4,116 Fleet Street,Marylebone,4,1,127,23,No,Yes,2,Semi-Detached,...,Wood,Old,1524000,12000.000000,Old,False,Multi-floor,1.824982e+06,Affordable,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,44 Camden High Street,Westminster,1,3,81,4,Yes,Yes,2,Semi-Detached,...,Laminate Flooring,Renovated,1166400,14400.000000,New,True,Multi-floor,2.291437e+06,Luxury,5
996,165 Park Lane,Camden,1,1,65,51,No,No,1,Apartment,...,Wood,Old,563333,8666.661538,Old,False,Single Floor,1.626332e+06,Affordable,0
997,99 Camden High Street,Camden,4,1,191,27,No,Yes,2,Semi-Detached,...,Laminate Flooring,Old,1986399,10399.994764,Old,False,Multi-floor,1.626332e+06,Affordable,5
998,155 Park Lane,Camden,5,2,131,3,Yes,No,2,Detached House,...,Laminate Flooring,Renovated,1703000,13000.000000,New,True,Multi-floor,1.626332e+06,Affordable,10
999,145 Baker Street,Kensington,4,2,185,53,No,No,1,Apartment,...,Wood,Old,2343333,12666.664865,Old,False,Single Floor,2.282233e+06,Luxury,0

In [ ]:
# Material-Based Categorisation Create a column material_category:
#  o "Premium" for houses built with Marble, Granite, or Wood. 
# o "Standard" for other materials.

In [29]:
df["Materials"].value_counts()

Materials
Wood                 264
Laminate Flooring    258
Marble               243
Granite              235
Name: count, dtype: int64

In [31]:
df["material_category"] = df["Materials"].apply(lambda x: 'Premium' if x == 'Marble'or x =='Granite' or x == 'Wood' else 'Standard')
df

,Address,Neighborhood,Bedrooms,Bathrooms,Square Meters,Building Age,Garden,Garage,Floors,Property Type,...,Building Status,Price (£),price_per_sq_meter,building_age_category,garden_flag,floor_category,average_price,neighborhood_category,balcony_accessibility_score,material_category
0,78 Regent Street,Notting Hill,2,3,179,72,No,No,3,Semi-Detached,...,Renovated,2291200,12800.000000,Old,False,Multi-floor,1.957589e+06,Affordable,10,Premium
1,198 Oxford Street,Westminster,2,1,123,34,Yes,No,1,Apartment,...,Old,1476000,12000.000000,Old,True,Single Floor,2.291437e+06,Luxury,10,Standard
2,18 Regent Street,Soho,5,3,168,38,No,Yes,3,Semi-Detached,...,Renovated,1881600,11200.000000,Old,False,Multi-floor,1.781121e+06,Affordable,0,Premium
3,39 Piccadilly Circus,Islington,5,1,237,53,Yes,Yes,1,Apartment,...,Renovated,1896000,8000.000000,Old,True,Single Floor,1.507373e+06,Affordable,0,Premium
4,116 Fleet Street,Marylebone,4,1,127,23,No,Yes,2,Semi-Detached,...,Old,1524000,12000.000000,Old,False,Multi-floor,1.824982e+06,Affordable,0,Premium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,44 Camden High Street,Westminster,1,3,81,4,Yes,Yes,2,Semi-Detached,...,Renovated,1166400,14400.000000,New,True,Multi-floor,2.291437e+06,Luxury,0,Standard
996,165 Park Lane,Camden,1,1,65,51,No,No,1,Apartment,...,Old,563333,8666.661538,Old,False,Single Floor,1.626332e+06,Affordable,0,Premium
997,99 Camden High Street,Camden,4,1,191,27,No,Yes,2,Semi-Detached,...,Old,1986399,10399.994764,Old,False,Multi-floor,1.626332e+06,Affordable,0,Standard
998,155 Park Lane,Camden,5,2,131,3,Yes,No,2,Detached House,...,Renovated,1703000,13000.000000,New,True,Multi-floor,1.626332e+06,Affordable,10,Standard
999,145 Baker Street,Kensington,4,2,185,53,No,No,1,Apartment,...,Old,2343333,12666.664865,Old,False,Single Floor,2.282233e+06,Luxury,0,Premium

In [ ]:
# Analyse Garage Ownership Add a column garage_flag: o True if Garage is "Yes". o False otherwise.

In [32]:
df["Garage"].value_counts()

Garage
Yes    501
No     499
Name: count, dtype: int64

In [33]:
df["garage_flag"] = df["Garage"].apply(lambda x: 'True' if x == 'Yes' else 'False')
df

,Address,Neighborhood,Bedrooms,Bathrooms,Square Meters,Building Age,Garden,Garage,Floors,Property Type,...,Price (£),price_per_sq_meter,building_age_category,garden_flag,floor_category,average_price,neighborhood_category,balcony_accessibility_score,material_category,garage_flag
0,78 Regent Street,Notting Hill,2,3,179,72,No,No,3,Semi-Detached,...,2291200,12800.000000,Old,False,Multi-floor,1.957589e+06,Affordable,10,Premium,False
1,198 Oxford Street,Westminster,2,1,123,34,Yes,No,1,Apartment,...,1476000,12000.000000,Old,True,Single Floor,2.291437e+06,Luxury,10,Standard,False
2,18 Regent Street,Soho,5,3,168,38,No,Yes,3,Semi-Detached,...,1881600,11200.000000,Old,False,Multi-floor,1.781121e+06,Affordable,0,Premium,True
3,39 Piccadilly Circus,Islington,5,1,237,53,Yes,Yes,1,Apartment,...,1896000,8000.000000,Old,True,Single Floor,1.507373e+06,Affordable,0,Premium,True
4,116 Fleet Street,Marylebone,4,1,127,23,No,Yes,2,Semi-Detached,...,1524000,12000.000000,Old,False,Multi-floor,1.824982e+06,Affordable,0,Premium,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,44 Camden High Street,Westminster,1,3,81,4,Yes,Yes,2,Semi-Detached,...,1166400,14400.000000,New,True,Multi-floor,2.291437e+06,Luxury,0,Standard,True
996,165 Park Lane,Camden,1,1,65,51,No,No,1,Apartment,...,563333,8666.661538,Old,False,Single Floor,1.626332e+06,Affordable,0,Premium,False
997,99 Camden High Street,Camden,4,1,191,27,No,Yes,2,Semi-Detached,...,1986399,10399.994764,Old,False,Multi-floor,1.626332e+06,Affordable,0,Standard,True
998,155 Park Lane,Camden,5,2,131,3,Yes,No,2,Detached House,...,1703000,13000.000000,New,True,Multi-floor,1.626332e+06,Affordable,10,Standard,False
999,145 Baker Street,Kensington,4,2,185,53,No,No,1,Apartment,...,2343333,12666.664865,Old,False,Single Floor,2.282233e+06,Luxury,0,Premium,False

In [36]:
df.columns

Index(['Address', 'Neighborhood', 'Bedrooms', 'Bathrooms', 'Square Meters',
       'Building Age', 'Garden', 'Garage', 'Floors', 'Property Type',
       'Heating Type', 'Balcony', 'Interior Style', 'View', 'Materials',
       'Building Status', 'Price (£)', 'price_per_sq_meter',
       'building_age_category', 'garden_flag', 'floor_category',
       'average_price', 'neighborhood_category', 'balcony_accessibility_score',
       'material_category', 'garage_flag'],
      dtype='object')

In [40]:
#df[(df['Bedrooms']) > 3 & df(['Neighborhood'] == 'Camden')]
df[(df['Neighborhood'] == 'Camden') & (df['Bedrooms'] > 3)]

,Address,Neighborhood,Bedrooms,Bathrooms,Square Meters,Building Age,Garden,Garage,Floors,Property Type,...,Price (£),price_per_sq_meter,building_age_category,garden_flag,floor_category,average_price,neighborhood_category,balcony_accessibility_score,material_category,garage_flag
33,60 Park Lane,Camden,4,2,199,41,Yes,Yes,1,Semi-Detached,...,2069599,10399.994975,Old,True,Single Floor,1.626332e+06,Affordable,0,Premium,True
37,168 Strand,Camden,4,1,170,45,No,Yes,1,Apartment,...,1473333,8666.664706,Old,False,Single Floor,1.626332e+06,Affordable,10,Premium,True
58,130 Strand,Camden,4,2,194,84,Yes,Yes,1,Semi-Detached,...,2017599,10399.994845,Old,True,Single Floor,1.626332e+06,Affordable,10,Premium,True
60,58 Camden High Street,Camden,4,2,71,19,No,No,3,Apartment,...,615333,8666.661972,Old,False,Multi-floor,1.626332e+06,Affordable,0,Premium,False
78,31 Park Lane,Camden,5,1,196,8,Yes,Yes,2,Detached House,...,2548000,13000.000000,New,True,Multi-floor,1.626332e+06,Affordable,0,Standard,True
125,196 Baker Street,Camden,5,1,52,19,No,Yes,2,Apartment,...,450666,8666.653846,Old,False,Multi-floor,1.626332e+06,Affordable,10,Premium,True
126,57 Piccadilly Circus,Camden,5,3,94,10,No,No,2,Detached House,...,1222000,13000.000000,New,False,Multi-floor,1.626332e+06,Affordable,10,Premium,False
150,82 King's Road,Camden,4,3,91,77,Yes,Yes,2,Semi-Detached,...,946399,10399.989011,Old,True,Multi-floor,1.626332e+06,Affordable,0,Premium,True
189,139 Strand,Camden,4,3,208,90,Yes,Yes,2,Semi-Detached,...,2163199,10399.995192,Old,True,Multi-floor,1.626332e+06,Affordable,0,Premium,True
206,112 Fleet Street,Camden,4,3,200,44,No,No,2,Semi-Detached,...,2079999,10399.995000,Old,False,Multi-floor,1.626332e+06,Affordable,0,Premium,False
214,48 Fleet Street,Camden,4,1,147,29,Yes,Yes,3,Apartment,...,1274000,8666.666667,Old,True,Multi-floor,1.626332e+06,Affordable,0,Premium,True
217,41 Bond Street,Camden,5,1,125,3,Yes,No,2,Semi-Detached,...,1299999,10399.992000,New,True,Multi-floor,1.626332e+06,Affordable,0,Premium,False
259,166 Piccadilly Circus,Camden,5,1,232,19,Yes,No,2,Apartment,...,2010666,8666.663793,Old,True,Multi-floor,1.626332e+06,Affordable,0,Premium,False
265,146 Regent Street,Camden,5,1,66,12,No,No,3,Apartment,...,572000,8666.666667,Old,False,Multi-floor,1.626332e+06,Affordable,10,Premium,False
319,164 Fleet Street,Camden,5,1,160,61,No,No,2,Semi-Detached,...,1663999,10399.993750,Old,False,Multi-floor,1.626332e+06,Affordable,0,Standard,False
334,180 Strand,Camden,4,1,137,14,No,Yes,3,Detached House,...,1781000,13000.000000,Old,False,Multi-floor,1.626332e+06,Affordable,0,Premium,True
352,76 King's Road,Camden,5,1,177,46,No,No,1,Detached House,...,2301000,13000.000000,Old,False,Single Floor,1.626332e+06,Affordable,10,Premium,False
364,198 Park Lane,Camden,4,1,123,19,No,Yes,1,Detached House,...,1599000,13000.000000,Old,False,Single Floor,1.626332e+06,Affordable,0,Standard,True
369,55 Regent Street,Camden,4,1,134,13,Yes,Yes,1,Detached House,...,1742000,13000.000000,Old,True,Single Floor,1.626332e+06,Affordable,0,Premium,True
380,166 Park Lane,Camden,4,2,229,48,Yes,Yes,2,Detached House,...,2977000,13000.000000,Old,True,Multi-floor,1.626332e+06,Affordable,10,Premium,True
385,151 Regent Street,Camden,4,3,160,6,No,No,3,Semi-Detached,...,1663999,10399.993750,New,False,Multi-floor,1.626332e+06,Affordable,0,Standard,False
412,158 Oxford Street,Camden,4,1,218,15,Yes,No,1,Detached House,...,2834000,13000.000000,Old,True,Single Floor,1.626332e+06,Affordable,0,Premium,False
420,23 Fleet Street,Camden,5,2,95,33,No,No,2,Detached House,...,1235000,13000.000000,Old,False,Multi-floor,1.626332e+06,Affordable,10,Standard,False
424,167 Park Lane,Camden,5,2,239,2,Yes,No,2,Semi-Detached,...,2485600,10400.000000,New,True,Multi-floor,1.626332e+06,Affordable,0,Premium,False
431,62 Bond Street,Camden,4,3,53,91,Yes,Yes,3,Apartment,...,459333,8666.660377,Old,True,Multi-floor,1.626332e+06,Affordable,0,Premium,True
477,27 King's Road,Camden,5,1,133,65,Yes,Yes,1,Detached House,...,1728999,12999.992481,Old,True,Single Floor,1.626332e+06,Affordable,0,Premium,True
486,179 Bond Street,Camden,4,1,188,77,Yes,No,3,Detached House,...,2444000,13000.000000,Old,True,Multi-floor,1.626332e+06,Affordable,0,Standard,False
492,86 Bond Street,Camden,4,1,226,38,Yes,Yes,2,Detached House,...,2938000,13000.000000,Old,True,Multi-floor,1.626332e+06,Affordable,0,Premium,True
558,122 Bond Street,Camden,4,3,206,14,Yes,Yes,1,Detached House,...,2678000,13000.000000,Old,True,Single Floor,1.626332e+06,Affordable,0,Premium,True
608,186 Park Lane,Camden,5,1,144,65,Yes,No,1,Apartment,...,1248000,8666.666667,Old,True,Single Floor,1.626332e+06,Affordable,0,Premium,False
614,117 Baker Street,Camden,4,1,99,31,Yes,No,1,Semi-Detached,...,1029599,10399.989899,Old,True,Single Floor,1.626332e+06,Affordable,0,Premium,False
624,195 King's Road,Camden,5,2,179,94,No,No,3,Detached House,...,2327000,13000.000000,Old,False,Multi-floor,1.626332e+06,Affordable,10,Premium,False
645,112 Piccadilly Circus,Camden,4,2,217,13,Yes,Yes,3,Apartment,...,1880666,8666.663594,Old,True,Multi-floor,1.626332e+06,Affordable,10,Premium,True
679,135 King's Road,Camden,5,3,221,49,Yes,No,2,Apartment,...,1915333,8666.665158,Old,True,Multi-floor,1.626332e+06,Affordable,10,Premium,False
680,94 King's Road,Camden,5,2,195,58,No,Yes,3,Apartment,...,1689999,8666.661538,Old,False,Multi-floor,1.626332e+06,Affordable,0,Standard,True
682,145 Strand,Camden,4,2,142,83,Yes,Yes,1,Semi-Detached,...,1476799,10399.992958,Old,True,Single Floor,1.626332e+06,Affordable,0,Standard,True
684,116 Camden High Street,Camden,4,2,166,68,Yes,Yes,1,Semi-Detached,...,1726399,10399.993976,Old,True,Single Floor,1.626332e+06,Affordable,0,Premium,True
710,13 Bond Street,Camden,5,3,219,79,Yes,No,1,Semi-Detached,...,2277599,10399.995434,Old,True,Single Floor,1.626332e+06,Affordable,0,Premium,False
724,96 King's Road,Camden,5,3,64,25,Yes,Yes,3,Apartment,...,554666,8666.656250,Old,True,Multi-floor,1.626332e+06,Affordable,10,Premium,True
734,151 Fleet Street,Camden,4,2,98,49,Yes,Yes,2,Apartment,...,849333,8666.663265,Old,True,Multi-floor,1.626332e+06,Affordable,0,Premium,True
737,93 Park Lane,Camden,5,2,81,49,Yes,Yes,1,Apartment,...,702000,8666.666667,Old,True,Single Floor,1.626332e+06,Affordable,0,Premium,True
799,132 Oxford Street,Camden,4,3,79,29,No,Yes,1,Apartment,...,684666,8666.658228,Old,False,Single Floor,1.626332e+06,Affordable,0,Premium,True
802,176 Fleet Street,Camden,5,1,67,83,No,No,3,Apartment,...,580666,8666.656716,Old,False,Multi-floor,1.626332e+06,Affordable,0,Premium,False
845,92 Regent Street,Camden,5,2,104,14,No,Yes,1,Semi-Detached,...,1081599,10399.990385,Old,False,Single Floor,1.626332e+06,Affordable,0,Premium,True
876,43 Camden High Street,Camden,4,3,136,90,No,No,3,Semi-Detached,...,1414399,10399.992647,Old,False,Multi-floor,1.626332e+06,Affordable,10,Premium,False
910,110 Bond Street,Camden,5,1,240,20,Yes,Yes,2,Apartment,...,2079999,8666.662500,Old,True,Multi-floor,1.626332e+06,Affordable,0,Premium,True
924,27 King's Road,Camden,5,1,188,37,Yes,No,2,Detached House,...,2444000,13000.000000,Old,True,Multi-floor,1.626332e+06,Affordable,0,Premium,False
942,155 Oxford Street,Camden,4,3,195,49,No,Yes,2,Apartment,...,1689999,8666.661538,Old,False,Multi-floor,1.626332e+06,Affordable,0,Premium,True
944,17 Park Lane,Camden,4,2,179,77,No,No,1,Semi-Detached,...,1861599,10399.994413,Old,False,Single Floor,1.626332e+06,Affordable,0,Premium,False
966,26 Baker Street,Camden,4,3,126,71,No,No,1,Semi-Detached,...,1310400,10400.000000,Old,False,Single Floor,1.626332e+06,Affordable,0,Premium,False
997,99 Camden High Street,Camden,4,1,191,27,No,Yes,2,Semi-Detached,...,1986399,10399.994764,Old,False,Multi-floor,1.626332e+06,Affordable,0,Standard,True
998,155 Park Lane,Camden,5,2,131,3,Yes,No,2,Detached House,...,1703000,13000.000000,New,True,Multi-floor,1.626332e+06,Affordable,10,Standard,False

In [44]:
df[(df['Building Status'] == 'Old') & (df['Building Age'] > 50)]

,Address,Neighborhood,Bedrooms,Bathrooms,Square Meters,Building Age,Garden,Garage,Floors,Property Type,...,Price (£),price_per_sq_meter,building_age_category,garden_flag,floor_category,average_price,neighborhood_category,balcony_accessibility_score,material_category,garage_flag
9,50 Strand,Kensington,4,2,59,79,No,No,3,Semi-Detached,...,896799,15199.983051,Old,False,Multi-floor,2.282233e+06,Luxury,0,Premium,False
39,114 Bond Street,Soho,2,2,187,53,Yes,No,3,Apartment,...,1745333,9333.331551,Old,True,Multi-floor,1.781121e+06,Affordable,0,Premium,False
41,164 Baker Street,Kensington,2,2,70,96,Yes,No,1,Semi-Detached,...,1064000,15200.000000,Old,True,Single Floor,2.282233e+06,Luxury,0,Premium,False
49,44 Park Lane,Marylebone,4,2,64,88,No,No,2,Apartment,...,640000,10000.000000,Old,False,Multi-floor,1.824982e+06,Affordable,0,Premium,False
51,110 Strand,Westminster,5,1,81,96,Yes,No,1,Detached House,...,1458000,18000.000000,Old,True,Single Floor,2.291437e+06,Luxury,0,Premium,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
962,42 Piccadilly Circus,Notting Hill,5,3,135,65,Yes,Yes,1,Detached House,...,2160000,16000.000000,Old,True,Single Floor,1.957589e+06,Affordable,10,Premium,True
972,171 Park Lane,Westminster,5,3,105,83,Yes,Yes,3,Detached House,...,1890000,18000.000000,Old,True,Multi-floor,2.291437e+06,Luxury,0,Standard,True
983,125 Oxford Street,Greenwich,2,3,214,54,No,Yes,2,Detached House,...,2140000,10000.000000,Old,False,Multi-floor,1.269409e+06,Affordable,0,Premium,True
996,165 Park Lane,Camden,1,1,65,51,No,No,1,Apartment,...,563333,8666.661538,Old,False,Single Floor,1.626332e+06,Affordable,0,Premium,False
999,145 Baker Street,Kensington,4,2,185,53,No,No,1,Apartment,...,2343333,12666.664865,Old,False,Single Floor,2.282233e+06,Luxury,0,Premium,False

In [46]:
df[(df["Garage"] == 'Yes') & (df['Garden'] == 'Yes') & (df['Property Type'] != 'Semi-Detached')]

,Address,Neighborhood,Bedrooms,Bathrooms,Square Meters,Building Age,Garden,Garage,Floors,Property Type,...,Price (£),price_per_sq_meter,building_age_category,garden_flag,floor_category,average_price,neighborhood_category,balcony_accessibility_score,material_category,garage_flag
3,39 Piccadilly Circus,Islington,5,1,237,53,Yes,Yes,1,Apartment,...,1896000,8000.000000,Old,True,Single Floor,1.507373e+06,Affordable,0,Premium,True
5,32 Bond Street,Notting Hill,5,2,69,69,Yes,Yes,2,Apartment,...,736000,10666.666667,Old,True,Multi-floor,1.957589e+06,Affordable,0,Premium,True
16,37 Bond Street,Shoreditch,5,3,81,25,Yes,Yes,1,Detached House,...,891000,11000.000000,Old,True,Single Floor,1.332829e+06,Affordable,0,Premium,True
17,192 Bond Street,Islington,1,1,211,51,Yes,Yes,3,Apartment,...,1688000,8000.000000,Old,True,Multi-floor,1.507373e+06,Affordable,0,Standard,True
19,102 Park Lane,Greenwich,2,3,95,84,Yes,Yes,1,Detached House,...,950000,10000.000000,Old,True,Single Floor,1.269409e+06,Affordable,10,Premium,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
962,42 Piccadilly Circus,Notting Hill,5,3,135,65,Yes,Yes,1,Detached House,...,2160000,16000.000000,Old,True,Single Floor,1.957589e+06,Affordable,10,Premium,True
967,129 King's Road,Shoreditch,4,3,117,74,Yes,Yes,2,Apartment,...,858000,7333.333333,Old,True,Multi-floor,1.332829e+06,Affordable,0,Premium,True
968,64 Camden High Street,Islington,3,3,119,9,Yes,Yes,2,Detached House,...,1428000,12000.000000,New,True,Multi-floor,1.507373e+06,Affordable,10,Premium,True
972,171 Park Lane,Westminster,5,3,105,83,Yes,Yes,3,Detached House,...,1890000,18000.000000,Old,True,Multi-floor,2.291437e+06,Luxury,0,Standard,True
992,52 Piccadilly Circus,Marylebone,3,2,109,44,Yes,Yes,1,Detached House,...,1635000,15000.000000,Old,True,Single Floor,1.824982e+06,Affordable,0,Standard,True

In [47]:
df[(df['Price (£)'] > 2000000) & (df['View'] == 'Park')]

,Address,Neighborhood,Bedrooms,Bathrooms,Square Meters,Building Age,Garden,Garage,Floors,Property Type,...,Price (£),price_per_sq_meter,building_age_category,garden_flag,floor_category,average_price,neighborhood_category,balcony_accessibility_score,material_category,garage_flag
46,49 King's Road,Chelsea,2,1,178,93,No,Yes,1,Semi-Detached,...,2848000,16000.000000,Old,False,Single Floor,2.452894e+06,Luxury,0,Premium,True
55,7 Regent Street,Westminster,1,2,208,87,Yes,No,3,Apartment,...,2496000,12000.000000,Old,True,Multi-floor,2.291437e+06,Luxury,0,Premium,False
58,130 Strand,Camden,4,2,194,84,Yes,Yes,1,Semi-Detached,...,2017599,10399.994845,Old,True,Single Floor,1.626332e+06,Affordable,10,Premium,True
67,3 Baker Street,Notting Hill,2,1,202,51,No,Yes,2,Detached House,...,3232000,16000.000000,Old,False,Multi-floor,1.957589e+06,Affordable,0,Premium,True
68,112 Park Lane,Kensington,3,3,192,91,No,No,1,Detached House,...,3648000,19000.000000,Old,False,Single Floor,2.282233e+06,Luxury,10,Premium,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
954,96 Fleet Street,Chelsea,1,3,184,35,No,Yes,1,Apartment,...,2453333,13333.331522,Old,False,Single Floor,2.452894e+06,Luxury,10,Premium,True
962,42 Piccadilly Circus,Notting Hill,5,3,135,65,Yes,Yes,1,Detached House,...,2160000,16000.000000,Old,True,Single Floor,1.957589e+06,Affordable,10,Premium,True
973,96 Regent Street,Soho,5,3,176,29,Yes,No,1,Detached House,...,2464000,14000.000000,Old,True,Single Floor,1.781121e+06,Affordable,0,Premium,False
975,39 Regent Street,Soho,5,2,222,12,Yes,No,3,Apartment,...,2072000,9333.333333,Old,True,Multi-floor,1.781121e+06,Affordable,0,Premium,False
985,72 Oxford Street,Marylebone,5,2,213,44,No,No,1,Apartment,...,2130000,10000.000000,Old,False,Single Floor,1.824982e+06,Affordable,0,Premium,False

In [52]:
df[(df["Property Type"] == 'Apartment') & (df["Heating Type"] == 'Electric Heating') & (df["Balcony"] == 'High-level Balcony')]

,Address,Neighborhood,Bedrooms,Bathrooms,Square Meters,Building Age,Garden,Garage,Floors,Property Type,...,Price (£),price_per_sq_meter,building_age_category,garden_flag,floor_category,average_price,neighborhood_category,balcony_accessibility_score,material_category,garage_flag
82,33 Strand,Shoreditch,5,2,184,78,No,Yes,1,Apartment,...,1349333,7333.331522,Old,False,Single Floor,1.332829e+06,Affordable,10,Premium,True
98,154 Fleet Street,Kensington,3,1,65,26,Yes,Yes,1,Apartment,...,823333,12666.661538,Old,True,Single Floor,2.282233e+06,Luxury,10,Premium,True
125,196 Baker Street,Camden,5,1,52,19,No,Yes,2,Apartment,...,450666,8666.653846,Old,False,Multi-floor,1.626332e+06,Affordable,10,Premium,True
167,20 Piccadilly Circus,Shoreditch,5,3,185,34,Yes,No,3,Apartment,...,1356666,7333.329730,Old,True,Multi-floor,1.332829e+06,Affordable,10,Premium,False
171,66 Baker Street,Shoreditch,3,1,222,98,No,Yes,1,Apartment,...,1628000,7333.333333,Old,False,Single Floor,1.332829e+06,Affordable,10,Standard,True
218,159 King's Road,Kensington,3,2,201,52,Yes,Yes,1,Apartment,...,2546000,12666.666667,Old,True,Single Floor,2.282233e+06,Luxury,10,Premium,True
265,146 Regent Street,Camden,5,1,66,12,No,No,3,Apartment,...,572000,8666.666667,Old,False,Multi-floor,1.626332e+06,Affordable,10,Premium,False
273,96 King's Road,Westminster,4,1,246,99,No,No,2,Apartment,...,2952000,12000.000000,Old,False,Multi-floor,2.291437e+06,Luxury,10,Premium,False
296,61 Baker Street,Marylebone,2,3,84,13,No,No,2,Apartment,...,840000,10000.000000,Old,False,Multi-floor,1.824982e+06,Affordable,10,Premium,False
335,18 Piccadilly Circus,Chelsea,1,1,137,35,No,No,2,Apartment,...,1826666,13333.328467,Old,False,Multi-floor,2.452894e+06,Luxury,10,Premium,False
337,131 Regent Street,Westminster,1,1,103,76,Yes,No,3,Apartment,...,1236000,12000.000000,Old,True,Multi-floor,2.291437e+06,Luxury,10,Premium,False
398,185 Fleet Street,Notting Hill,3,2,163,72,Yes,Yes,3,Apartment,...,1738666,10666.662577,Old,True,Multi-floor,1.957589e+06,Affordable,10,Premium,True
427,143 Regent Street,Camden,1,2,226,94,No,No,1,Apartment,...,1958666,8666.663717,Old,False,Single Floor,1.626332e+06,Affordable,10,Premium,False
485,120 King's Road,Soho,4,2,219,52,Yes,No,1,Apartment,...,2044000,9333.333333,Old,True,Single Floor,1.781121e+06,Affordable,10,Standard,False
532,49 Bond Street,Notting Hill,4,2,121,17,No,No,1,Apartment,...,1290666,10666.661157,Old,False,Single Floor,1.957589e+06,Affordable,10,Premium,False
553,117 King's Road,Marylebone,3,1,141,92,No,Yes,2,Apartment,...,1410000,10000.000000,Old,False,Multi-floor,1.824982e+06,Affordable,10,Premium,True
554,24 Park Lane,Marylebone,4,2,196,40,Yes,No,3,Apartment,...,1960000,10000.000000,Old,True,Multi-floor,1.824982e+06,Affordable,10,Premium,False
559,191 Regent Street,Greenwich,2,3,217,34,No,No,2,Apartment,...,1446666,6666.663594,Old,False,Multi-floor,1.269409e+06,Affordable,10,Premium,False
635,122 King's Road,Marylebone,4,3,211,3,No,No,1,Apartment,...,2110000,10000.000000,New,False,Single Floor,1.824982e+06,Affordable,10,Premium,False
637,81 King's Road,Westminster,2,3,127,2,Yes,Yes,1,Apartment,...,1524000,12000.000000,New,True,Single Floor,2.291437e+06,Luxury,10,Standard,True
678,104 Bond Street,Chelsea,2,2,93,48,Yes,No,2,Apartment,...,1240000,13333.333333,Old,True,Multi-floor,2.452894e+06,Luxury,10,Standard,False
679,135 King's Road,Camden,5,3,221,49,Yes,No,2,Apartment,...,1915333,8666.665158,Old,True,Multi-floor,1.626332e+06,Affordable,10,Premium,False
738,78 Fleet Street,Marylebone,2,1,124,8,Yes,Yes,3,Apartment,...,1240000,10000.000000,New,True,Multi-floor,1.824982e+06,Affordable,10,Premium,True
793,123 Park Lane,Marylebone,2,3,86,76,Yes,Yes,1,Apartment,...,860000,10000.000000,Old,True,Single Floor,1.824982e+06,Affordable,10,Premium,True
808,73 Baker Street,Marylebone,2,3,147,72,Yes,No,2,Apartment,...,1470000,10000.000000,Old,True,Multi-floor,1.824982e+06,Affordable,10,Premium,False
827,64 Strand,Westminster,3,2,138,5,No,Yes,1,Apartment,...,1656000,12000.000000,New,False,Single Floor,2.291437e+06,Luxury,10,Premium,True
879,156 Park Lane,Chelsea,1,3,222,89,No,Yes,2,Apartment,...,2960000,13333.333333,Old,False,Multi-floor,2.452894e+06,Luxury,10,Standard,True
882,6 Baker Street,Kensington,2,2,239,39,Yes,Yes,1,Apartment,...,3027333,12666.665272,Old,True,Single Floor,2.282233e+06,Luxury,10,Premium,True
901,98 Camden High Street,Marylebone,3,2,200,71,Yes,Yes,2,Apartment,...,2000000,10000.000000,Old,True,Multi-floor,1.824982e+06,Affordable,10,Premium,True
987,149 Strand,Soho,1,1,82,44,No,Yes,1,Apartment,...,765333,9333.329268,Old,False,Single Floor,1.781121e+06,Affordable,10,Premium,True

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 26 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Address                      1000 non-null   object
 1   Neighborhood                 1000 non-null   object
 2   Bedrooms                     1000 non-null   int64
 3   Bathrooms                    1000 non-null   int64
 4   Square Meters                1000 non-null   int64
 5   Building Age                 1000 non-null   int64
 6   Garden                       1000 non-null   object
 7   Garage                       1000 non-null   object
 8   Floors                       1000 non-null   int64
 9   Property Type                1000 non-null   object
 10  Heating Type                 1000 non-null   object
 11  Balcony                      1000 non-null   object
 12  Interior Style               1000 non-null   object
 13  View                         1000 non-null   object
 14  Materials                    1000 non-null   object
 15  Building Status              1000 non-null   object
 16  Price (£)                    1000 non-null   int64
 17  price_per_sq_meter           1000 non-null   float64
 18  building_age_category        1000 non-null   object
 19  garden_flag                  1000 non-null   object
 20  floor_category               1000 non-null   object
 21  average_price                1000 non-null   float64
 22  neighborhood_category        1000 non-null   object
 23  balcony_accessibility_score  1000 non-null   int64
 24  material_category            1000 non-null   object
 25  garage_flag                  1000 non-null   object
dtypes: float64(2), int64(7), object(17)
memory usage: 203.3+ KB

In [63]:
df[(df['Neighborhood'] == 'Westminister') & (df['Building Status'] == 'Renovated') | (df['Interior Style'] == 'Modern')]

,Address,Neighborhood,Bedrooms,Bathrooms,Square Meters,Building Age,Garden,Garage,Floors,Property Type,...,Price (£),price_per_sq_meter,building_age_category,garden_flag,floor_category,average_price,neighborhood_category,balcony_accessibility_score,material_category,garage_flag
4,116 Fleet Street,Marylebone,4,1,127,23,No,Yes,2,Semi-Detached,...,1524000,12000.000000,Old,False,Multi-floor,1.824982e+06,Affordable,0,Premium,True
10,56 Oxford Street,Greenwich,5,1,235,49,No,Yes,1,Detached House,...,2350000,10000.000000,Old,False,Single Floor,1.269409e+06,Affordable,0,Standard,True
13,128 Bond Street,Soho,2,3,111,14,No,Yes,3,Semi-Detached,...,1243200,11200.000000,Old,False,Multi-floor,1.781121e+06,Affordable,10,Premium,True
15,10 Regent Street,Kensington,2,1,101,46,No,Yes,1,Semi-Detached,...,1535199,15199.990099,Old,False,Single Floor,2.282233e+06,Luxury,0,Standard,True
17,192 Bond Street,Islington,1,1,211,51,Yes,Yes,3,Apartment,...,1688000,8000.000000,Old,True,Multi-floor,1.507373e+06,Affordable,0,Standard,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
988,32 Park Lane,Notting Hill,1,2,101,43,Yes,No,3,Detached House,...,1616000,16000.000000,Old,True,Multi-floor,1.957589e+06,Affordable,10,Standard,False
991,184 Fleet Street,Soho,2,1,215,70,Yes,Yes,3,Semi-Detached,...,2408000,11200.000000,Old,True,Multi-floor,1.781121e+06,Affordable,0,Premium,True
995,44 Camden High Street,Westminster,1,3,81,4,Yes,Yes,2,Semi-Detached,...,1166400,14400.000000,New,True,Multi-floor,2.291437e+06,Luxury,0,Standard,True
998,155 Park Lane,Camden,5,2,131,3,Yes,No,2,Detached House,...,1703000,13000.000000,New,True,Multi-floor,1.626332e+06,Affordable,10,Standard,False
999,145 Baker Street,Kensington,4,2,185,53,No,No,1,Apartment,...,2343333,12666.664865,Old,False,Single Floor,2.282233e+06,Luxury,0,Premium,False

In [62]:
df[(df['Neighborhood'] == 'Westminster') & ((df['Interior Style'] == 'Renovated') | (df['Interior Style'] == 'Modern'))]

,Address,Neighborhood,Bedrooms,Bathrooms,Square Meters,Building Age,Garden,Garage,Floors,Property Type,...,Price (£),price_per_sq_meter,building_age_category,garden_flag,floor_category,average_price,neighborhood_category,balcony_accessibility_score,material_category,garage_flag
51,110 Strand,Westminster,5,1,81,96,Yes,No,1,Detached House,...,1458000,18000.0,Old,True,Single Floor,2.291437e+06,Luxury,0,Premium,False
54,46 Camden High Street,Westminster,3,3,88,86,No,Yes,3,Semi-Detached,...,1267200,14400.0,Old,False,Multi-floor,2.291437e+06,Luxury,0,Standard,True
134,131 Fleet Street,Westminster,4,2,243,7,Yes,No,2,Apartment,...,2916000,12000.0,New,True,Multi-floor,2.291437e+06,Luxury,10,Premium,False
137,35 Strand,Westminster,3,2,190,71,No,No,2,Semi-Detached,...,2736000,14400.0,Old,False,Multi-floor,2.291437e+06,Luxury,0,Standard,False
168,180 Strand,Westminster,2,2,232,18,No,Yes,1,Semi-Detached,...,3340800,14400.0,Old,False,Single Floor,2.291437e+06,Luxury,0,Premium,True
246,10 Park Lane,Westminster,2,1,173,56,Yes,Yes,1,Detached House,...,3114000,18000.0,Old,True,Single Floor,2.291437e+06,Luxury,10,Standard,True
310,67 Strand,Westminster,2,2,199,83,Yes,No,3,Apartment,...,2388000,12000.0,Old,True,Multi-floor,2.291437e+06,Luxury,0,Premium,False
346,38 Oxford Street,Westminster,2,1,190,29,Yes,No,1,Semi-Detached,...,2736000,14400.0,Old,True,Single Floor,2.291437e+06,Luxury,0,Premium,False
402,99 Piccadilly Circus,Westminster,2,3,132,71,Yes,Yes,1,Apartment,...,1584000,12000.0,Old,True,Single Floor,2.291437e+06,Luxury,0,Standard,True
444,172 Bond Street,Westminster,3,2,247,74,Yes,Yes,1,Semi-Detached,...,3556800,14400.0,Old,True,Single Floor,2.291437e+06,Luxury,0,Premium,True
472,87 Oxford Street,Westminster,3,2,170,74,No,Yes,3,Semi-Detached,...,2448000,14400.0,Old,False,Multi-floor,2.291437e+06,Luxury,10,Premium,True
473,164 Strand,Westminster,4,2,121,76,No,Yes,1,Semi-Detached,...,1742400,14400.0,Old,False,Single Floor,2.291437e+06,Luxury,0,Premium,True
487,87 Camden High Street,Westminster,3,1,190,82,Yes,Yes,2,Detached House,...,3420000,18000.0,Old,True,Multi-floor,2.291437e+06,Luxury,0,Premium,True
499,52 Piccadilly Circus,Westminster,3,1,109,98,Yes,No,1,Detached House,...,1962000,18000.0,Old,True,Single Floor,2.291437e+06,Luxury,10,Premium,False
534,196 Strand,Westminster,1,2,136,37,No,Yes,2,Semi-Detached,...,1958400,14400.0,Old,False,Multi-floor,2.291437e+06,Luxury,0,Premium,True
649,91 King's Road,Westminster,4,3,113,34,No,No,1,Apartment,...,1356000,12000.0,Old,False,Single Floor,2.291437e+06,Luxury,10,Standard,False
822,133 Baker Street,Westminster,1,1,228,67,No,Yes,2,Detached House,...,4104000,18000.0,Old,False,Multi-floor,2.291437e+06,Luxury,10,Standard,True
827,64 Strand,Westminster,3,2,138,5,No,Yes,1,Apartment,...,1656000,12000.0,New,False,Single Floor,2.291437e+06,Luxury,10,Premium,True
935,110 Camden High Street,Westminster,4,2,207,83,Yes,No,3,Detached House,...,3726000,18000.0,Old,True,Multi-floor,2.291437e+06,Luxury,10,Premium,False
956,101 Strand,Westminster,1,3,153,45,Yes,No,1,Apartment,...,1836000,12000.0,Old,True,Single Floor,2.291437e+06,Luxury,0,Premium,False
972,171 Park Lane,Westminster,5,3,105,83,Yes,Yes,3,Detached House,...,1890000,18000.0,Old,True,Multi-floor,2.291437e+06,Luxury,0,Standard,True
995,44 Camden High Street,Westminster,1,3,81,4,Yes,Yes,2,Semi-Detached,...,1166400,14400.0,New,True,Multi-floor,2.291437e+06,Luxury,0,Standard,True

In [65]:
df[~((df['View'] == 'Street') & (df['Interior Style'] == 'Industrial'))]

,Address,Neighborhood,Bedrooms,Bathrooms,Square Meters,Building Age,Garden,Garage,Floors,Property Type,...,Price (£),price_per_sq_meter,building_age_category,garden_flag,floor_category,average_price,neighborhood_category,balcony_accessibility_score,material_category,garage_flag
0,78 Regent Street,Notting Hill,2,3,179,72,No,No,3,Semi-Detached,...,2291200,12800.000000,Old,False,Multi-floor,1.957589e+06,Affordable,10,Premium,False
1,198 Oxford Street,Westminster,2,1,123,34,Yes,No,1,Apartment,...,1476000,12000.000000,Old,True,Single Floor,2.291437e+06,Luxury,10,Standard,False
3,39 Piccadilly Circus,Islington,5,1,237,53,Yes,Yes,1,Apartment,...,1896000,8000.000000,Old,True,Single Floor,1.507373e+06,Affordable,0,Premium,True
4,116 Fleet Street,Marylebone,4,1,127,23,No,Yes,2,Semi-Detached,...,1524000,12000.000000,Old,False,Multi-floor,1.824982e+06,Affordable,0,Premium,True
5,32 Bond Street,Notting Hill,5,2,69,69,Yes,Yes,2,Apartment,...,736000,10666.666667,Old,True,Multi-floor,1.957589e+06,Affordable,0,Premium,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,44 Camden High Street,Westminster,1,3,81,4,Yes,Yes,2,Semi-Detached,...,1166400,14400.000000,New,True,Multi-floor,2.291437e+06,Luxury,0,Standard,True
996,165 Park Lane,Camden,1,1,65,51,No,No,1,Apartment,...,563333,8666.661538,Old,False,Single Floor,1.626332e+06,Affordable,0,Premium,False
997,99 Camden High Street,Camden,4,1,191,27,No,Yes,2,Semi-Detached,...,1986399,10399.994764,Old,False,Multi-floor,1.626332e+06,Affordable,0,Standard,True
998,155 Park Lane,Camden,5,2,131,3,Yes,No,2,Detached House,...,1703000,13000.000000,New,True,Multi-floor,1.626332e+06,Affordable,10,Standard,False
999,145 Baker Street,Kensington,4,2,185,53,No,No,1,Apartment,...,2343333,12666.664865,Old,False,Single Floor,2.282233e+06,Luxury,0,Premium,False